<app-header></app-header>
<div class="container" style="padding-top: 100px;">
    <div class="row" *ngIf="produit!=null">
        <div class="col-xs-4 item-photo" style="padding-bottom:20px;">
            <img style="max-width:100%;border-color:red;border-style: groove;margin: 5px;"
                src="data:image/png;base64,{{produit.improd}}" />

            <div >
                <div class="col-xs-5" style="background:#f8f9f9;">

                    <h3 id="namprod" style="padding-left: 15px;">{{produit.namprod}}</h3>



                    <h6 class="title-price" style="padding-left: 15px;"><small>Prix</small></h6>
                    <h3 id="priprod" style="margin-top:0px;padding-left: 15px;">{{produit.priprod}} Dinars</h3>



                    <div class="section" style="background:#f8f9f9">
                        <h6 class="title-attr" id="descprod" style="margin-top:15px;">
                            <small>{{produit.descprod}}</small></h6>

                    </div>

                    <div class="section" style="padding-bottom:20px;background:#f8f9f9">
                        <h6 class="title-attr"><small>Quantité </small></h6>
                        <div>
                            <div class="btn-minus"><button (click)="supprimer()"><b>-</b></button></div>
                            <input id="qte" value="1" />
                            <div class="btn-plus"><button (click)="commander()"><b>+</b></button></div>

                        </div>
                    </div>


                </div>
                <div class="section"
                    style="padding-bottom:20px;background:#f8f9f9;align-content: center;">
                    <button *ngIf="!inCart"class="btn btn-success" (click)="addToCart()">
                        <ion-icon name="cart-outline"></ion-icon> Add to cart
                    </button>
                    <button *ngIf="inCart" class="btn btn-danger my-2 my-sm-0" (click)="addToCart()" > <ion-icon name="cart-outline"></ion-icon>drop from cart</button>
                    
                </div>

            </div>
                            <button type="button" class="btn btn-secondary" [routerLink]="['/produits']">Voir dans la Liste Complète</button>
        </div>
    </div>
</div>